.login {
  width: 25em;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5em;
  transform: translate(-50%, -50%);
  border-radius: 1em !important;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 20em;
  margin: auto;
}

.css-3o67hy-MuiPaper-root-MuiCard-root {
  background-color: #3b438b !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  background-color: white;
}
