.pizzaCard h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.pizzaCard .MuiCardHeader-title {
  text-align: left;
}

.pizzaCard.MuiCard-root {
  border-radius: 1em;
}

.pizzaCard {
  height: 20em;
}

.pizzaCard .MuiCardMedia-img {
  height: 150px;
  width: 150px;
  margin: auto;
}
